header .other-timer, .form1-mobile .other-timer {
    max-width: 250px;
    margin: 7px auto 0;
    padding-bottom: 20px;
}

header .timer-sm .timer-wrapper .digit .digit-items {
    color: #ffdb33;
    font-size: 11px
}

.form-white-bg-2 .price_land_curr {
    font-size: 16px;
}

.price-x--top {
    white-space: nowrap;
}

.cod-error,
.cod-ok {
    width: 458px;
    margin: auto;
    background-color: rgba(0, 0, 0, .8);
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    line-height: 33px;
    font-size: 1.2em;
    padding: 35px;
    position: relative
}

.cod-error .mfp-close,
.cod-ok .mfp-close {
    color: #ff7426;
    border: 3px solid #ff7426;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    line-height: 27px;
    margin-top: -40px;
    right: 0px
}

.cod-ok {
    border: 3px solid #608901
}

.cod-error {
    border: 3px solid #ff7426
}

.mfp-inline-holder .mfp-content {
    width: auto
}

#pu-form .section6 {
    position: relative;
    background-image: none;
    background-color: transparent;
    padding-bottom: 0
}

#pu-form .mfp-close {
    position: relative;
    color: black;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    height: 33px;
    width: 33px;
    line-height: 28px;
    top: -810px;
    opacity: 1;
    float: right
}

.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0px, 0px, 0px);
    border-bottom: 2px solid #f7bc00;
    z-index: -1;
}

.mfp-content .wrapper {
    /*padding-left: 0;*/
    /*padding-right: 0*/
}

@media only screen and (max-width: 1279px) {
    #pu-form .mfp-close {
        top: -790px;
        left: -10px;
    }
}

@media only screen and (max-width: 991px) {
    #pu-form .mfp-close {
        top: -684px;
        left: 10px;
    }

    #pu-form .product-big_sale2 {
        background: url(../img/bg-sale.png) no-repeat 0 0;
        background-size: 155px
    }

    #pu-form .section6 .product-big_sale2 {
        top: -15px;
    }

    .section6-wrapper {
        margin-top: 300px;
    }

    #pu-form .section6-wrapper {
        margin-top: 250px;
    }
}

@media only screen and (max-width: 479px) {
    .owl-nav > div {
        opacity: 1
    }
}

.video-reviews-descr {
    line-height: 30px;
    letter-spacing: -.025em;
    margin: 10px 0 0
}

.text-reviews-items {
    margin: 35px 0 0;
    position: relative;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

@media all and (max-width: 479px) {
    .text-reviews-items {
        margin: 20px 0 0;
    }
}

.text-reviews-item {
    margin: 0 auto;
    padding: 30px 0px 30px;
}

.text-reviews-item .text-reviews-photo {
    width: auto;
    height: auto;
    float: left
}

@media all and (min-width: 480px) and (max-width: 991px) {
    .mfp-container {
        padding-top: 20px;
    }

    .text-reviews-item .text-reviews-photo img {
        margin: 0 auto;
        width: 259px;
        height: 259px
    }
}

.text-reviews-item .text-reviews-text {
    margin: 0 0 0 300px;
    line-height: 24px;
}

.text-reviews-title {
    padding-top: 25px;
}

@media all and (min-width: 991.01px) and (max-width: 1279px) {
    .col-md-offset-4 {
        margin-left: 33.33333333%
    }
}

@media all and (min-width: 1279.01px) {
    .col-lg-offset-1 {
        margin-left: 8.33333333%
    }

    .col-lg-offset-4 {
        margin-left: 33.33333333%
    }

    .owl-stage-outer {
        padding-bottom: 10px
    }

    .text-reviews-body p {
        font-size: 22px !important;
        line-height: 32px
    }

    .review_name {
        padding-top: 30px
    }

    .section6 .timer-sm .timer-wrapper .digit > .item {
        font-size: 34px;
        height: 57px;
        width: 38px;
        line-height: 57px;
    }

}

@media all and (min-width: 991.01px) {
    .text-reviews-title {
        position: absolute;
        bottom: 30px
    }

    .owl-stage-outer {
        padding-bottom: 10px
    }

    .text-reviews-body p {
        font-size: 19px !important;
        line-height: 26px
    }

    .review_name {
        padding-top: 30px
    }
}

@media all and (max-width: 991px) {
    .text-reviews-title {
        margin-left: auto;
        margin-right: auto;
        text-align: center
    }

    .owl-nav > div {
        width: 25px;
        height: 30px;
        background: url(../img/controls.png) no-repeat 0 -32px;
        position: absolute;
        top: 145px !important
    }

    .owl-nav .owl-prev {
        left: 0px;
        background: url(../img/controls.png) no-repeat 0 -32px;
    }

    .owl-nav .owl-next {
        right: 0;
        background-position: -50px -32px;
    }

    .owl-nav .owl-prev:hover {
        right: 0;
        background-position: 0 0;
    }

    .owl-nav .owl-next:hover {
        right: 0;
        background-position: -50px 0;
    }
}

.owl-dots {
    text-align: center;
    margin: -11px auto 40px;
    background: #fff;
    width: 200px;
}

.owl-dot {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: transparent;
    border: 3px solid #f7bc00;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: background-color .5s ease;
    transition: background-color .5s ease
}

.owl-dot.active {
    background-color: #f7bc00
}

.owl-dot:not(:last-child) {
    margin: 0 12px 0 0
}

.audio-reviews {
    background-image: url(../img/bg-audio.jpg);
    background-size: cover;
    color: #fff;
}

.audio-reviews-items {
    text-align: left;
    padding: 20px 0;
    margin: 15px 0 0
}

.audio-reviews-item:not(:first-child) {
    margin: 20px 0 0
}

.audio-reviews-title {
    line-height: 30px;
    letter-spacing: -.025em;
    margin: 0 0 5px
}

@media all and (max-width: 991px) {
    .plyr--audio .plyr__controls {
        padding: 5px 10px;
    }

    .text-reviews-item {
        width: 100%;
    }

    .text-reviews-item .text-reviews-photo {
        float: none;
        display: block;
        margin: 0 auto;
    }

    .text-reviews-item .text-reviews-text {
        margin: 20px 0 0;
        text-align: center;
        font-size: .9em;
        line-height: 22px
    }
}

@media all and (max-width: 479px) {
    .cod-error,
    .cod-ok {
        width: 290px
    }

    .section6-wrapper {
        margin-top: 35px;
    }

    .section6 .other-timer, .section17 .other-timer {
        width: 250px;
        margin: 0 auto
    }

    .text-reviews-title {
        text-align: center;
        margin: 0 auto
    }

    .text-reviews-body {
        line-height: 22px
    }

    .owl-carousel .owl-stage-outer {
        border-bottom: 0
    }

    .owl-nav {
        position: absolute;
        height: 50px;
        width: 265px;
        bottom: 140px;
    }

    .owl-nav > div {
        top: 150px !important;
    }
}

@media all and (max-width: 1279px) {
    .owl-nav > div {
        top: 160px !important;
    }
}

