* {
    margin: 0;
    padding: 0;
}
body {
    background: #606060;
}
.container {
    background: white;
    margin: 0 4%;
    padding: 100px 35px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
}
h1 {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 20px;
}
p {
    font-weight: 400;
    font-size: 14px;
}
a {
    color: #2196f3;
}
a:hover {
    opacity: 0.6;
}
form {
    margin: 30px 0;
}
label {
    font-size: 13px;
}
.input-wrap {
    background: #f7f7fa;
    width: 31.3%;
    display: inline-block;
    height: 60px;
    box-sizing: border-box;
    padding: 5px 15px;
    border-radius: 7px;
    margin-bottom: 30px;
}
.input-wrap:focus {
    outline: none;
    box-shadow: 0px 0px 0px 3px #a8d3fe;
    border-radius: 7px;
}
.focused{
    outline: none;
    box-shadow: 0px 0px 0px 3px #a8d3fe;
    border-radius: 7px;
}
.input-wrap:hover {
    transition: background 1s;
    background: #eaeaee;
}
.group {
    margin-right: 2.8%;
}
.email {
    margin-left: 30px;
}
input:focus, textarea:focus {
    outline: none;
}
input, textarea {
    display: block;
    background: transparent;
    border: none;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    /*font-weight: 500;*/
    box-sizing: border-box;
    padding: 3px 0;
    font-size: 16px;
}
.message {
    width: 100%;
    height: auto;
    box-sizing: border-box;
}
button:hover {
    cursor: pointer;
}
.btn-submit {
    color: white;
    background: #00a0f9;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 13px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 25px;
}
.btn-submit:hover {
    background: #007fe4;
}
.btn-submit:focus {
    outline: none;
    box-shadow: 0px 0px 0px 2px #a2d0fd;
    background: #007fe4;
}
.btn-cancel {
    color: black;
    background: #e5e9ef;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 13px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}
.btn-cancel:hover {
    background: #c3c6cc;
}
.btn-cancel:focus {
    outline: none;
    box-shadow: 0px 0px 0px 2px #ebeef1;
    background: #c3c6cc;
}

.alert {
    background: -moz-linear-gradient(322deg, rgba(255,125,167,1) 33%, rgba(255,125,167,1) 38%, rgba(255,159,164,1) 60%, rgba(255,163,164,1) 62%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(33%, rgba(255,125,167,1)), color-stop(38%, rgba(255,125,167,1)), color-stop(60%, rgba(255,159,164,1)), color-stop(62%, rgba(255,163,164,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(322deg, rgba(255,125,167,1) 33%, rgba(255,125,167,1) 38%, rgba(255,159,164,1) 60%, rgba(255,163,164,1) 62%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(322deg, rgba(255,125,167,1) 33%, rgba(255,125,167,1) 38%, rgba(255,159,164,1) 60%, rgba(255,163,164,1) 62%); /* opera 11.10+ */
    background: -ms-linear-gradient(322deg, rgba(255,125,167,1) 33%, rgba(255,125,167,1) 38%, rgba(255,159,164,1) 60%, rgba(255,163,164,1) 62%); /* ie10+ */
    background: linear-gradient(128deg, rgba(255,125,167,1) 33%, rgba(255,125,167,1) 38%, rgba(255,159,164,1) 60%, rgba(255,163,164,1) 62%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7da7', endColorstr='#ffa3a4',GradientType=1 ); /* ie6-9 */
    padding: 15px 25px;
    box-sizing: border-box;
    border-radius: 5px;
}
.icon-alert {
    color: rgba(255,255,255,0.5);
    position: relative;
    bottom: 20px;
}
.border {
    display: inline-block;
    width: 2px;
    margin: 0 25px;
}
.border:before {
    content: " ";
    width: 1px;
    display: inline-block;
    height: 70px;
    background: #f2779e;
}
.border:after {
    content: " ";
    width: 1px;
    display: inline-block;
    height: 70px;
    background: #ff84ab;
}
.alert-left {
    width: 2.3%;
    height: 100%;
    display: inline-block;
}
.alert-right {
    width: 90%;
    display: inline-block;
}
.block2 h2 {
    color: white;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 20px;
}
.block2 p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: white;
}
.notification {
    margin-top: 60px;
}
.noty-wrap {
    display: inline-block;
    width: 22%;
    vertical-align: top;
}
.m-right {
    margin-right: 3.6%;
}
.ico {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    position: relative;
    top: -30px;
}
.ico, .messenger {
    text-align: center;
    margin: 0 auto;
}
.messenger {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #2c2c2c;
    font-size: 14px;
    padding-bottom: 15px;
    display: inline-block;
}
.social {
    text-align: center;
    margin-top: -30px;
}
.active:before {
    content: "";
    display: inline-block;
    margin-left: -10px;
    border-radius: 100%;
    height: 10px;
    width: 10px;
    background: #26a69a;
}
.off:before {
    content: "";
    display: inline-block;
    margin-left: -10px;
    border-radius: 100%;
    height: 10px;
    width: 10px;
    background: #5e5e5f;
}
.top {
    box-shadow: 0px 3px 2px 3px #e6e6e8;
    background: #fcfcfc;
    border-radius: 2px;
    position: relative;
    box-sizing: border-box;
    height: 60px;
}

.bottom {
    background: #f4f4f6;
    padding: 20px;
}
.btn-disable {
    background: #e1e1e3;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 13px;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    display: block;
    margin: 10px auto;
}
.i-tel {
    background: url('../img/media.png') -75px -6px #f7f7f7;
}
.i-icq {
    background: url('../img/media.png') -5px -75px #f7f7f7;
}
.i-skype {
    background: url('../img/media.png') -71px -72px #f7f7f7;
}
.i-slack {
    background: url('../img/media.png') -4px -6px #f7f7f7;
}
.i-tel-dis {
    background: url('../img/media-disable.png') -75px -6px #f7f7f7;
}
.i-icq-dis {
    background: url('../img/media-disable.png') -5px -75px #f7f7f7;
}
.i-skype-dis {
    background: url('../img/media-disable.png') -71px -72px #f7f7f7;
}
.i-slack-dis {
    background: url('../img/media-disable.png') -4px -6px #f7f7f7;
}
.btn-disable:hover {
    background: #c3c6cc;
}
.btn-disable:focus {
    outline: none;
    box-shadow: 0px 0px 0px 2px #ebeef1;
    background: #c3c6cc;
}
ol li {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #2c2c2c;
}
.instruction {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #2c2c2c;
}
.list-item-right i:hover {
    cursor: pointer;
    color: #82899d;
}
.list-item-right i {
    font-weight: 400;
    font-size: 20px;
    color: #bfc2cd;
}
.list-item {
    margin: 10px 0;
}
.list-item-left {
    display: inline-block;
    width: 80%;
}

.list-item-right {
    display: inline-block;
    width: 18%;
}

.checkbox {
    display: none;
}
.checkbox-custom {
    position: relative;
    width: 25px;
    height: 25px;
}
.checkbox-custom i {
    color: #5e5e5f;
}
.block2 label {
    font-size: 13px;
    margin: 10px auto;
    width: 70%;
    display: block;
}
.checkbox-custom,
.label {
    display: inline-block;
    vertical-align: middle;
}
#select, #select2 {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: #008dfe;
}
.checkbox:checked + .checkbox-custom #select, .checkbox:checked + .checkbox-custom #select2{
    display: block;
}
