body {
    font-family: 'Proba Pro Extra Light', sans-serif;
}

.cross {
    display: inline-block;
    position: relative;
    top: 9px;
    margin: 0 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 0px;
    -webkit-transition: all .3s ease, -webkit-transform .2s ease;
    transition: all .3s ease, transform .2s ease;
    background: -webkit-linear-gradient(top, transparent 0%, transparent 20%, #2E313C 20%, #2E313C 23%, transparent 23%, transparent 48%, #2E313C 48%, #2E313C 50%, transparent 47%, transparent 76%, #2E313C 76%, #2E313C 78%, transparent 78%), -webkit-linear-gradient(transparent, transparent);
    background: linear-gradient(to bottom, transparent 0%, transparent 20%, #2E313C 20%, #2E313C 23%, transparent 23%, transparent 48%, #2E313C 48%, #2E313C 50%, transparent 47%, transparent 76%, #2E313C 76%, #2E313C 78%, transparent 78%), linear-gradient(transparent, transparent);
}

.cross:active, .cross:hover {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}

.cross.clicked {
    background: -webkit-linear-gradient(135deg, transparent 0%, transparent 48%, #2E313C 49%, #2E313C 51%, transparent 51%, transparent 100%), -webkit-linear-gradient(45deg, transparent 0%, transparent 48%, #2E313C 49%, #2E313C 51%, transparent 51%, transparent 100%);
    background: linear-gradient(-45deg, transparent 0%, transparent 48%, #2E313C 49%, #2E313C 51%, transparent 51%, transparent 100%), linear-gradient(45deg, transparent 0%, transparent 48%, #2E313C 49%, #2E313C 51%, transparent 51%, transparent 100%);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.cross.clicked:active, .cross.clicked:hover {
    -webkit-transform: scale(0.9) rotate(180deg);
    -ms-transform: scale(0.9) rotate(180deg);
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fixed {
    position: fixed;
    animation: appear linear 0.3s;
    top: 0;
    width: 100%;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    z-index: 9999;
}

.top-menu-item {
    display: inline-block;
}
footer {
    background: #fff9f9;
}
.footer-menu-item a {
    display: inline-block;
    color: #8c8f94;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    cursor: pointer!important;
}
.footer-menu-item a:after {
    background-color: #8c8f94;
    display: block;
    content: "";
    height: 1px;
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}

.footer-menu-item a:hover:after {
    width: 100%;
}

.top-menu-item a {
    display: inline-block;
    padding: 0 15px;
    color: #26272d;
    line-height: 1.5;
    text-decoration: none;
    cursor: pointer;
}
.block1-img img {
    display: block;
    width: 100%;
}
.top-menu-item a:after {
    background-color: #26272d;
    display: block;
    content: "";
    height: 1px;
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}

.top-menu-item a:hover:after {
    width: 100%;
}

.top-menu .btn-blue {
    margin: 0;
}

.top-menu-toggle {
    padding: 30px 0;
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    background: white;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.top-menu-toggle .row {
    width: 78%;
    margin: 0 auto;
}

header {
    background: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    width: 100%;
    transition: all 1s;
}

.header-gray {
    background: white;
    transition: all 1s;
}

.top-menu {
    padding: 20px 0;
    margin-top: -8px;
}

.top-menu .fa-apple {
    font-size: 20px;
}

.top-menu-center {
    text-align: center;
    margin-top: 12px;
}

.block1-wrap {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.block1 {
    background-size: cover;
    margin-top: 100px;
}

.block1-header {
    font-size: 34px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 15px;
}
.text-header {
    font-size: 24px;
}
.block1-text1 {
    color: black;
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
}




.result, .natural, .colored {
display: none;
}
.thin-hair-result, .thick-hair-result, .medium-hair-result {
display: none;
}

.curly-hair-result, .straight-hair-result,.wavy-hair-result {
display: none;
}
.natural-fluffy-hair-result, .natural-dry-hair-result, .natural-porous-hair-result {
display: none;
}

.spring-hair-result, .winter-hair-result, .autumn-hair-result, .summer-hair-result {
display: none;
}

.supergrow-hair-result, .grow-hair-result {
display: none;
}

.tomuchvolume-hair-result, .novolume-hair-result, .tangled-hair-result, .gray-hair-result,
.dandruff-hair-result, .noshine-hair-result, .splitends-hair-result, .brittle-hair-result, .stopgrow-hair-result {
display: none;
}

.blowdry-hair-result, .iron-hair-result {
display: none;
}

.blond-result, .red-result, .dark-result, .henna-result {
display: none;
}

.pickcolor-hair-result {
display: none;
}

.hairloss-result {
display: none;
}
.spoiled-hair-result {
display: none;
}
.dark-to-blond-result, .dark-to-natural-result, .dark-to-red-result, .blond-to-natural-result, .blond-to-red-result,
.blond-to-dark-result, .red-to-natural-result, .red-to-dark-result, .red-to-blond-result, .henna-to-other-result {
display: none;
}




.text-img-full img {
    display: block;
    float: left;
    width: 70%;
    margin: 15px 0;
}

.block1-text {
    text-align: justify!important;
    color: black;
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
}
.logo {
    height: 25px;
}
hl {
    font-weight: bold;
    background: #e9d4cd;
    padding: 5px 10px 3px 10px;
}
.item-gray a {
    color: #b5b5b6;
}
.border-gray {
    width: 100%;
    height: 1px;
    background: #f5f5f8;
    margin: 15px 0;
}
.text-img img{
    display: block;
    float: left;
    width: 20%;
    margin: 10px 10px 10px 0;
}
.text-img-big img {
    display: block;
    float: left;
    width: 35%;
    margin: 10px 10px 10px 0;
}

.text-img-big-right img {
    display: block;
    float: right;
    width: 35%;
    margin: 10px 10px 10px 0;
}
.text-img-middle img {
    display: block;
    float: left;
    width: 27%;
    margin: 10px 10px 10px 0;
}
.text-img-center img {
    display: block;
    width: 80%;
    margin: 10px auto;
}
.full-img img {
    display: block;
    width: 60%;
    margin: 0 auto;
}
.second-head {
    font-size: 28px;
    background: #f1cbc4;
    margin: 0 0 15px 0;
    color: rgba(51, 51, 51, 1);
    padding: 5px 0 0px 0;
    text-transform: uppercase;
}
.hl {
    font-size: 22px;
    background: #cc9480;
    margin: 0 0 15px 0;
    color: white;
    line-height: 24px;
    padding: 5px 0;
}
.input-transparent {
    border: solid 1px #8c8f94;
    border-radius: 100px;
    padding: 5px;
    color: #000000;
    display: inline-block;
    margin: 40px 0;
    background: rgba(0, 0, 0, 0);
}
.block-pay {
    font-weight: 700;
    border: 5px solid #eeb8ad;
    border-radius: 0;
    padding: 15px;
}
input, button,
button:active,
button:focus {
    outline: none;
}

.input-transparent input {
    background: rgba(0, 0, 0, 0);
    border: none;
    padding: 0 15px;
    width: 50%;
    height: 43px;
}

.input-transparent input:active {
    border: none;
}

.btn-blue {
    border-radius: 100px;
    padding: 15px 40px;
    color: #ffffff;
    display: inline-block;
    margin: 40px 0;
    font-weight: 300;
    text-decoration: none;
    transition: all 1s;
    background-image: linear-gradient(to left, #267df4 50%, #1f67c9 50%);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .75s ease;
}

.btn-blue:hover {
    color: #ffffff;
    text-decoration: none;
    background-position: 0 0;
}

.btn-green {
    color: #ffffff;
    border-radius: 100px;
    padding: 10px 30px;
    display: inline-block;
    font-weight: 300;
    float: right;
    border: none;
    background-image: linear-gradient(to left, #6fc754 50%, #65b54d 50%);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .75s ease;
}

.btn-green:hover {
    cursor: pointer;
    background-position: 0 0;
}


.price {
    color: #eeb8ad;
    font-size: 25px;
    font-family: Lato,sans-serif;
}
.btn-transparent {
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    font-family: Lato,sans-serif;
    font-weight: 400;
    font-style: normal;
    border: solid 1px #eeb8ad;
    border-radius: 100px;
    padding: 10px 30px;
    color: white!important;
    display: inline-block;
    margin: 10px 5px;
    text-decoration: none;
    background-image: linear-gradient(to left, #eeb8ad 50%, rgba(0, 0, 0, 0) 50%);
    background-position: 100% 0;
    background-size: 300% 100%;
    transition: all .75s ease;
}

.btn-transparent:hover {
    color: #eeb8ad!important;
    text-decoration: none;
    background-position: 0 0;
    cursor: pointer;
}


.btn-result {
    text-transform: uppercase;
    font-size: 13px;
    text-align: center;
    letter-spacing: 0.2em;
    font-family: Lato,sans-serif;
    font-weight: 400;
    font-style: normal;
    border: solid 1px #eeb8ad;
    border-radius: 0px;
    color: #fff!important;
    display: inline-block;
    margin: 10px 0;
    text-decoration: none;
    background-image: linear-gradient(to left, #eeb8ad 50%, rgba(0, 0, 0, 0) 50%);
    background-position: 100% 0;
    background-size: 201% 100%;
    transition: all .75s ease;
    width: 100%;
    padding: 13px 0;
}
.btn-result:hover {
    color: #eeb8ad!important;
    text-decoration: none;
    background-position: 0 0;
    cursor: pointer;
}
.clicked {
    background: rgba(0, 0, 0, 0);
    color: #eeb8ad!important;
}
.swpm-buy-now-button-submit {
    text-transform: uppercase;
    font-size: 13px;
    text-align: center;
    letter-spacing: 0.2em;
    font-family: Lato,sans-serif;
    font-weight: 400;
    font-style: normal;
    border: solid 1px #eeb8ad;
    border-radius: 0px;
    color: #fff!important;
    display: inline-block;
    margin: 10px 0;
    text-decoration: none;
    background-image: linear-gradient(to left, #eeb8ad 50%, rgba(0, 0, 0, 0) 50%);
    background-position: 100% 0;
    background-size: 201% 100%;
    transition: all .75s ease;
    width: 100%!important;
    padding: 13px 0;
}
.swpm-button-wrapper input[type="submit"] {
    width: 100%!important;
}
.swpm-buy-now-button-submit:hover {
    color: #eeb8ad!important;
    text-decoration: none;
    background-position: 0 0;
    cursor: pointer;
}
.swpm-login-form-submit, .swpm-pw-reset-submit, .swpm-edit-profile-submit {
    text-transform: uppercase;
    font-size: 13px;
    text-align: center;
    letter-spacing: 0.2em;
    font-family: Lato,sans-serif;
    font-weight: 400;
    font-style: normal;
    border: solid 1px #eeb8ad;
    border-radius: 0px;
    color: #fff!important;
    display: inline-block;
    margin: 10px 0;
    text-decoration: none;
    background-image: linear-gradient(to left, #eeb8ad 50%, rgba(0, 0, 0, 0) 50%);
    background-position: 100% 0;
    background-size: 201% 100%;
    transition: all .75s ease;
    padding: 13px 0;
    width: 100%!important;
}
.swpm-login-form-submit:hover, .swpm-pw-reset-submit:hover, .swpm-edit-profile-submit:hover {
    color: #eeb8ad!important;
    text-decoration: none;
    background-position: 0 0;
    cursor: pointer;
}
.swpm-login-widget-form, .swpm-pw-reset-widget-form {
    width: 240px;
    margin: 0 auto;
}
.swpm-edit-profile-form {
    width: 300px;
    margin: 0 auto;
}

.swpm-login-form-pw-reset-link, .swpm-login-form-register-link, .swpm-login-link, .swpm-post-not-logged-in-msg a {
    color: #cc9480!important;
}
.swpm-login-form-pw-reset-link:hover, .swpm-login-form-register-link:hover, .swpm-login-link:hover, .swpm-post-not-logged-in-msg a:hover {
    color: #e9d4cd!important;
}
.swpm-username-field, .swpm-password-field, .swpm-text-field{
    width: 100%;
    padding: 5px 10px;
    border: solid 3px #eeb8ad;
    background: white;
}
.top-menu-toggle {
    z-index: 9;
}
.result-show {
    margin-top: 70px;
}
.twobtn {
    /*border: 5px solid #f5f5f8;*/
    margin: 25px 0;
}
.question {
    border: 5px solid #f5f5f8;
    padding: 20px;
    margin: 25px 0;
}



input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus:-moz-placeholder {
    color: transparent;
}

/* FF 4-18 */
input:focus::-moz-placeholder {
    color: transparent;
}

/* FF 19+ */
input:focus:-ms-input-placeholder {
    color: transparent;
}

/* IE 10+ */
.fa-play {
    padding: 0 10px 0 0;
}

.gray-bottom-line {
    border-bottom: solid 1px #f5f5f8;
    margin-bottom: 20px;
}

.block2-header {
    font-size: 26px;
    font-weight: 700;
}

.block2-icon {
    margin-bottom: 30px;
}
.block2-icon {
    display: block;
    border-radius: 100%;
    width: 175px;
    margin: 15px auto;
}
section p {
    color: #8c8f94;
    font-size: 18px;
    font-weight: 300;
}

section .heading {
    font-size: 42px;
    font-weight: 700;
}
.smalltext {
    font-size: 13px;
    line-height: 14px;
}
.block3-iphone {
    margin-left: -260px;
}

.block3-iphone img {
    width: 100%;
}

.fa-arrow-right {
    padding: 0 0 0 10px;
}

.block3 .btn-transparent {
    margin-left: 30px;
}

.uppercase-text {
    padding: 20px 0;
    text-transform: uppercase;
}

.block4-partners img {
    margin-right: 40px;
}

.block-padding {
    padding: 25px 0;
    margin-top: 30px;
}

.block4 {
    overflow: hidden;
}

.text-center {
    text-align: center;
}

.block5 {
    background: #f5dcf0;
    overflow: hidden;
}

.block5-header {
    font-size: 42px;
    font-weight: 700;
}

.block5-graytext {
    color: #8c8f94;
    font-size: 15px;
}

.blue-line {
    padding: 1px 0;
    width: 50px;
    background: #267df4;
    margin: 25px auto 15px auto;
}

.block5-picrow {
    text-align: center;
    overflow: hidden;
    margin-left: -270px;
    width: 150%;
}

.picrow-item {
    margin: 0 5px;
}

.picrow-center {
    width: 23%;
}

.picrow-shadow {
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.4);
    width: 18%;
}

.carousel-indicators {
    position: initial;
}

.carousel-indicators li {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    opacity: 0.5;
    margin: 0 30px;
    transition: all 1s;
}

.carousel-control-prev-icon {
    background-image: url('../images/arrow-left-gray.png');
}

.carousel-control-next-icon {
    background-image: url('../images/arrow-right-gray.png');
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    height: 60px;
}

.carousel-indicators li:hover {
    transition: opacity 1s;
    opacity: 1;
}

.carousel-indicators .feed-photo1 {
    background: url(../images/user1.jpg) no-repeat;
    background-size: cover;
}

.carousel-indicators .feed-photo2 {
    background: url(../images/user2.jpg) no-repeat;
    background-size: cover;
}

.carousel-indicators .feed-photo3 {
    background: url(../images/user3.jpg) no-repeat;
    background-size: cover;
}

.carousel-indicators .active {
    width: 120px;
    height: 120px;
    opacity: 1;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
    transition: all .25s;
}

.block6 .carousel-inner .heading {
    font-size: 36px;
    margin: 30px 0;
}

.carousel-inner {
    position: relative;
    width: 50%;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
}

.stars .yellow {
    color: #f2bc3b;
}

.stars .gray {
    color: #8c8f94;
}

.feed-name {
    margin-top: 50px;
    font-size: 14px;
}

.footer-text-gray {
    color: #8c8f94;
    font-size: 14px;
    margin: 20px 0;
    width: 50%;
}
.footer-logo img {
    width: 100%;
    max-width: 250px;
}
.footer-social .fa {
    color: #bdbec0;
    font-size: 20px;
    margin-right: 20px;
}

.footer-menu-heading {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 14px;
}
.footer-text-gray-link {
    color: #8c8f94;
    font-size: 14px;
    margin: 20px 0;
    width: 50%;
    text-decoration: underline;
}
.footer-text-gray-link:hover {
    color: #8c8f94;
    opacity: 0.8;
}
.footer-menu-item {
    margin-bottom: 10px;
}

.-mob {
    display: none;
}

.block5-picrow-mob {
    display: none;
}

/*----popup---*/
.comeback_layout {
    display: none;
    position: fixed;
    color: #000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 20000000;
    background: rgba(0, 0, 0, .75);
    overflow-y: scroll;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none
}
#comeback .fa-times {
    font-size: 25px;
}
.comeback_close:hover {
    cursor: pointer;
}
.comeback_layout::-webkit-scrollbar {
    width: 0
}

.comeback_wrapper {
    width: 100%;
    max-width: 550px;
    margin: 0 auto
}

.comeback_container {
    background: #fff;
    padding: 25px;
    margin-top: 2%;
    text-align: center
}

.comeback_container h1 {
    font-size: 23px
}

.comeback_container .form-group {
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
    text-align: left
}

.comeback_container .btn {
    display: block;
    width: 240px;
    color: #fff;
    background: #f82a5e;
    text-transform: uppercase;
    padding: 10px 0;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 4px;
    margin: 0 auto;
    text-decoration: none
}

.comeback_img {
    width: 80%;
    margin: 10px auto;
    max-width: 200px
}

.form-horizontal span {
    display: block;
    margin: 20px 0
}

.comeback_close {
    float: right;
    cursor: pointer
}

#comeback p {
    font-size: 16px
}
.video-wrap {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
.video-wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
@media (max-width: 700px) {
    .comeback_container h1 {
        line-height: 18px;
        font-size: 16px
    }

    .comeback_img {
        margin: 5px auto
    }

    .comeback_container p {
        line-height: 14px;
        font-size: 15px
    }

    .comeback_container {
        padding: 5px
    }
}


@media screen and (max-width: 1203px) {
    .top-menu-item a {
        padding: 0 5px;
    }
}
@media screen and (max-width: 1199px) {
    .block5-picrow {
        margin-left: -230px;
        width: 150%;
    }
}
@media screen and (max-width: 1000px) {
    .block3-iphone {
        margin-left: 0;
    }
    .block3 .btn-transparent {
        margin-left: 10px;
    }
    .block4-iphone img {
        width: 100%;
        padding-top: 30px;
    }
    .btn-transparent {
        padding: 10px 15px;
    }
    .block4-partners img {
        margin-right: 0;
    }
    .btn-blue {
        padding: 10px 15px;
    }
    section .heading {
        font-size: 38px;
    }
    .block1-wrap {
        width: 80%;
    }
    .-desc {
        display: none;
    }
    .-mob {
        display: block;
    }
    .mob-logo {
        display: block;
        margin: 0 auto;
        width: 45%;
    }
    .mob-logo img {
        display: block;
        margin: 0 auto;
    }
    .cross {
        float: left;
        top: -2px;
    }
    .top-menu-toggle-mob {
        text-align: center;
    }
    .toggle-mob-item a {
        display: inline-block;
        padding: 0 15px;
        color: #26272d;
        line-height: 2.1;
        text-decoration: none;
        cursor: pointer;
        font-size: 18px;
    }
    .toggle-mob-item {
        border-bottom: solid 1px #dddde1;
        text-transform: uppercase;
    }
    .mob-sub-head {
        text-transform: none!important;
    }
    .subitem {
        display: none;
    }
    .toggle-mob-item:first-child {
        border-top: solid 1px #dddde1;
    }
    .top-menu {
        padding: 20px 0 0 0;
    }
    .top-menu-icon {
        padding-bottom: 20px;
    }
    .top-menu-toggle {
        padding: 0 0;
    }
    .toggle-mob-item .btn-blue {
        color: white;
        margin: 10px 0;
    }
    .block-padding {
        padding: 15px 0;
        margin-top: 20px;
    }
    .input-transparent {
        margin: 40px 15px;
    }
}
@media screen and (max-width: 991px) {
    .block5-picrow {
        margin-left: -340px;
        width: 200%;
    }
    .block1-header {
        line-height: 30px;
        font-size: 27px;
    }
    .second-head {
        font-size: 22px;
        background: #f1cbc4;
        margin: 0 0 15px 0;
        color: rgba(51, 51, 51, 1);
        padding: 5px 0 0px 0;
        line-height: 25px;
    }
    .hl {
        font-size: 20px;
        background: #cc9480;
        margin: 0 0 15px 0;
        color: white;
        line-height: 24px;
        padding: 5px 0;
    }
}
@media screen and (max-width: 769px) {
    .footer-text-gray {
        width: 100%;
    }
    footer .col-md-2 {
        margin: 10px 0;
    }
    /*.block1 {*/
    /*padding-top: 190px;*/
    /*}*/
    .text-img img {
        display: block;
        float: left;
        width: 100%;
        margin-right: 15px;
    }
    .full-img img {
        display: block;
        width: 100%;
        margin: 0 auto;
    }
    .text-img-middle img {
        display: block;
        float: left;
        width: 100%;
        margin: 10px 10px 10px 0;
    }
    .text-img-big img {
        display: block;
        float: left;
        width: 100%;
        margin: 10px 10px 10px 0;
    }
    .text-img-center img {
        display: block;
        width: 100%;
        margin: 10px auto;
    }

}
@media screen and (max-width: 767px) {
    .block5-picrow {
        margin-left: -455px;
        width: 280%;
    }
}
@media screen and (max-width: 670px) {
    .carousel-indicators li {
        margin: 0 10px;
        width: 70px;
        height: 70px;
    }
    .carousel-indicators .active {
        width: 110px;
        height: 110px;
    }
    .text-header {
        font-size: 24px;
        line-height: 24px;
    }
    .btn-transparent {
        line-height: 14px;
    }
    .feed-name {
        margin-top: 0;
    }
    .carousel-inner {
        width: 80%;
    }
    .carousel-control-next, .carousel-control-prev {
        width: 10%;
    }
}
@media screen and (max-width: 575px) {
    .block5-picrow {
        display: none;
    }
    .block5-picrow-mob {
        display: block;
    }
    .block5-picrow-mob img {
        width: 100%;
    }
    .block5 .container {
        padding: 0;
    }
}
@media screen and (max-width: 520px) {
    .block1-wrap {
        width: 95%;
    }
    .block1-header {
        font-size: 28px;
        line-height: 30px;
    }
    .btn-green {
        padding: 10px 15px;
    }
    .block6 .carousel-inner .heading {
        font-size: 26px;
        line-height: 38px;
    }
    .input-transparent input {
        width: 30%;
        padding: 0;
    }
}
@media screen and (max-width: 450px) {
    .carousel-indicators li {
        margin: 0 10px;
        width: 50px;
        height: 50px;
    }

    .carousel-indicators .active {
        width: 70px;
        height: 70px;
    }
}
@media screen and (max-width: 408px) {
    .block1-iphone img {
        width: 100%;
    }
}








